<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.korbi.todolist.todolist">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_check_box_black_24dp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_check_circle_black_24dp"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.korbi.todolist.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.korbi.todolist.ADDtask"
            android:label="@string/AddTaskActivityTitle"/>
        <activity
            android:name="com.korbi.todolist.AboutTheApp"
            android:label="@string/AboutAppName"></activity>
    </application>

</manifest>